<%= form_with(model: picture, local: true ,url: choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :picture_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :picture_content %>
  </div>

  <div class="field">
    <!-- <%= form.label :image %> -->
    <%= image_tag(@picture.image.url) if @picture.image.url %>
    <!-- <div class="btn btn-default"> -->
      <%= form.file_field :image, class: "file_image" %>
    <!-- </div> -->
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
